.header {
  display: flex;
  background-color: transparent;
  background: none;
  position: fixed;
  width: 100vw;
  top: 0;
  margin-top: 0.3%;
  z-index: 100;
}

.header_logo {

  margin-left: 0.3%;
}

.header_center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%
}

.move_box{
    margin-right: 2%
}

.header_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  margin-right: 12%;
}

.header_right > p {
  margin: 12%;
}
