.dailyplanner {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}

.dp_container {
  width: 40vw;
  margin-left: 31.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dp_right_container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dp_text {
  display: flex;
  width: 30vw;
  flex-direction: column;
  font-size: 30px;
  color: black;
  align-items: center;
  margin-top: 15%;
  margin-left: .1%;
  margin-right: .5%;
}

.dp_textDesc {
  margin-top: 3%;
  font-weight: 200;
  font-size: 20px;
  margin-left: 3%;
}

.dp_buttons {
  margin-top: 0.5%;
  margin-left: 15%;
  display: flex;
  align-items: center;
}

p {
  margin-right: 10%;
}

.dp_img {
  margin-top: 29.8%;

  height: 51.3vh;
  width: 39.5vw;

  transform: skew(-.1deg, -.2deg)
}

@media only screen and (max-width: 400px) {
  .dp_text {
    display: flex;
    width: 30vw;
    flex-direction: column;
    font-size: 20px;
    color: black;
    align-items: center;
    text-align: center;
    margin-top: 55%;
    margin-left: .1%;
    margin-right: .5%;
  }
  
  .dp_textDesc {
    margin-top: 3%;
    font-weight: 200;
    font-size: 10px;
    margin-left: 3%;
  }

  .dp_img {
    margin-top: 132%;
    margin-left: -75%;
    height: 260px;
    width: 240px;
    transform: skew(0deg, 0deg)
  }

  .dp_buttons {
    margin-left: 20%;
  }
}

