.header {
  display: flex;
  background-color: transparent;
  background: none;
  position: fixed;
  width: 100vw;
  top: 0;
  margin-top: 0.3%;
  z-index: 100;
}

.header_logo {

  margin-left: 0.3%;
}

.header_center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%
}

.move_box{
    margin-right: 2%
}

.header_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  margin-right: 12%;
}

.header_right > a {
  margin: 12%;
  text-decoration: none;
    color:black;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
}

.btn:hover {
  transform: scale(1.2, 1.2);
}

@media only screen and (max-width: 400px) {
 .header_center{
   margin-top: 20%;
   margin-left: -75%;

 }

 .header_right {
   position: absolute;
   margin-top: 30%;
   margin-left: 43%;
 }

}