.lil_header {
    background-color: rgda(23, 26, 32, 0.8); 
    width: 190px;
    margin: 0%;
    display: flex;
    justify-items: center;
    align-items: center;
    /* border-radius: 100px; */
    opacity: 0.85;
    margin-top: 3%;
}

.lil_header>p{
    text-decoration: none;
    color:black;
    font-weight: 200;
    font-size: 23px;
    /* text-align: center; */
}

@media only screen and (max-width: 400px) {
    .lil_header>p {
        font-size: 8px;
        margin-top: 0%;
    }
}
