.list_item {
    background-color: rgda(23, 26, 32, 0.8);
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 100px;


}

.list_item>p{
    text-decoration: none;
    color:black;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}

.btn:hover {
    transform: scale(1.2, 1.2);
}

@media only screen and (max-width: 400px) {
    .list_item>p{
        font-size: 7.5px;
    }
}
